.countdown-unit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-unit {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(180deg, #fff 53.79%, #f8f6ff 100%);
    color: #7346dd;
    width: 170px;
    height: 210px;
    border-radius: 12px;
    border: 1px solid rgba(115, 70, 221, 0.17);
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown-value {
    font-size: 100px;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .countdown-unit {
        width: 107px;
        height: 144px;
    }

    .countdown-value {
        font-size: 64px;
    }
}

@media (max-width: 768px) {
    .countdown-unit {
        width: 77px;
        height: 114px;
    }

    .countdown-value {
        font-size: 48px;
    }
}
