@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden
}

html {
    scroll-behavior: smooth;
    overflow: hidden
}

/* Hide scrollbar for all browsers */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.headline {
    font-weight: 500;
    line-height: 34px;

}

@media (min-width: 601px) and (max-width: 1024px) {
    .headline {
        font-size: 38px;
        line-height: 38px;
    }
}

@media (min-width: 1025px) and (max-width: 1536px) {
    .headline {
        font-size: 45px;
        line-height: 46px;
    }
}

@media (min-width: 1537px) {
    .headline {
        font-size: 60px;
        line-height: 49px;
    }
}

.subtext {
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.176px;
}

@media (min-width: 601px) {
    .subtext {
        font-size: 14px;
    }
}

@media (min-width: 1025px) and (max-width: 1536px) {
    .subtext {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.176px;
    }
}

@media (min-width: 1537px) {
    .subtext {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.176px;
    }
}

.download {
    font-family: "Lexend", sans-serif;
    color: white;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: -0.132px;
}

@media (min-width: 1023px) {
    .download {
        font-size: 14px;
    }
}

.careers {
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.154px;
}

.p1footer {
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #999;
    letter-spacing: -0.154px;
    cursor: pointer;
}

.p3footer {
    font-family: "Lexend", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: white;
    letter-spacing: -0.154px;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 120s linear infinite;
    font-size: 100px;
}

@media (min-width: 1025px) {
    .marquee {
        font-size: 300px;
    }
}


/* Centered position (Page 0) */
.phone-center {
    transform: scale(1) translateY(0);
    opacity: 1;
    visibility: visible;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Disable scrolling */
.no-scroll {
    overflow: hidden;
    height: 100%;
}


/* Dropping down (Page 1) */
.phone-drop-large {
    transform: scale(1.3) translateY(92px);
    opacity: 1;
    visibility: visible;
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
    transform-origin: top;
}

.phone-drop-medium {
    transform: scale(1.55) translateY(60px);
    opacity: 1;
    visibility: visible;
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
    transform-origin: top;
}

/* Hidden (Page 2 or beyond) */
.phone-hidden {
    transform: scale(1) translateY(500px);
    /* Move out of view */
    opacity: 0;
    visibility: hidden;
    transition: transform 0s ease-in-out, opacity 0s ease-in-out, visibility 0.3s ease-in-out;
}
